/* main1 */
*{
    padding: 0%;
    margin: auto;
    box-sizing: border-box;
}

/* main2 */
*{
    padding: 0%;
    margin: auto;
    box-sizing: border-box;
}

/* main3 */
*{
    padding: 0%;
    margin: auto;
    box-sizing: border-box;
}